@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body{
  border: 5px solid darkgreen;
  width: 500px;
  height: 100vh, auto,;
  margin:auto;
  padding:auto;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  background-image: linear-gradient(to right bottom, #89a8d6, #70c6e3, #7cdfda, #b2f3c4, #f8ffb8);
}

header{
  background-color: rgb(201, 170, 196);
  padding: 4px;
  margin: auto;
}
#rock{
  background-color: #FFEE88;
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 10px;
  margin :5px;
  font-size: 1.5em;
}

#paper{
  background-color: #00f47a;
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 10px;
  margin :5px;
  font-size: 1.5em;

}

#scissors{
  background-color: #75C9C8;
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 10px;
  margin :5px;
  font-size: 1.5em;

}


.select-choice{
  display: flex;
  padding:20px;
}

#rock:hover, #paper:hover, #scissors:hover, #reset-button:hover{
  background-color: #a38f8f;
  cursor: pointer;
  
}

.scores{
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.total-score1 {
background-color: rgb(118, 169, 226);
flex-direction: column;
position: absolute;
left: 40px;
}

.total-score2 {
  background-color: rgb(118, 169, 226);
  flex-direction: column;
  position: absolute;
  right: 5px;
}

#reset-button{
  background-color: rgb(131, 121, 175);
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 5px 30px;
  margin :10px;
  font-size: 1em;
  
}

.style {
  font-weight: bold;
  background-color: rgb(180, 156, 172);
  display: inline-block;
  padding: 4px;

}
