@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body{
  border: 10px solid;
  height: auto;
  width: 500px;
  margin:auto;
  padding:0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  background-image: linear-gradient(to right bottom, #89a8d6, #70c6e3, #7cdfda, #b2f3c4, #f8ffb8);
  background-repeat: no-repeat;
}

header{
  background-color: rgb(201, 170, 196);
  padding: 10px;
  margin: auto;
}
#rock{
  background-color: #FFEE88;
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 10px;
  margin :5px;
  font-size: 1.5em;
}

#paper{
  background-color: #00f47a;
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 10px;
  margin :5px;
  font-size: 1.5em;

}

#scissors{
  background-color: #75C9C8;
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 10px;
  margin :5px;
  font-size: 1.5em;

}


.select-choice{
  display: flex;
  flex-direction: row;
  padding:20px;
}

#rock:hover, #paper:hover, #scissors:hover{
  background-color: #a6a6a6;
  cursor: pointer;
  
}

.scores{
  font-weight: bold;
}

#reset-button{
  background-color: rgb(131, 121, 175);
  box-shadow: 5px 7px 8px #888888;
  width: 10vw;
  padding: 5px 30px;
  margin :5px;
  font-size: 1em;

}
